root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,ts,jsx,tsx,mjs,cjs,json,astro,vue}]
indent_style = space
indent_size = 2

[*.{css,scss,less,sass}]
indent_style = space
indent_size = 2

[*.{html,xml,svg}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[{package.json,package-lock.json}]
indent_style = space
indent_size = 2