---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Learn a little more about me."
    pubDate={new Date("August 13 2025")}
    heroImage={AboutHeroImage}
    >
    <h2>Thank you for visiting</h2>
    
    My name is Frank Pigeon Jr. I am a husband, father, bassist in the Texas rock band Flying Pigeons, book lover, and
    Front End Engineer & Web Designer. I was born in San Antonio, Texas and grew up in the beautiful country of Panama.
    I am a U.S. Army veteran and am proud to have served my country as a Department of Army Civilian. I continue to serve on projects that make the government a better place. My passions
    including coding, music, and all-things open-source. 
</Layoutt>
